.wrapper {
  height: 149px;
  max-width: 600px;

  .item {
    margin-right: 12px;

    outline: none;

    img {
      width: 164px;
      height: 149px;

      border-radius: 10px;
      box-shadow: 0 3px 4px rgba(0, 0, 0, 0.15);
    }
  }
}
